@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico');
body
{
    overflow-x: hidden; 
}
nav{
    
    background: #00000044;
 
 position: fixed;
 z-index: 100;
}
#nav-logo
{
    font-family: 'Pacifico', cursive;
    color: #d3d3d3;
    overflow-y: hidden;

    
}
#banner-main-cont{
    margin-top: 5vh;
}
#banner-main{
    
    width: 100vw;
    min-height: 70vh;
   
    position: relative;
    overflow: hidden;
}
#video-bkg
{
    position: absolute;
    z-index: -100;
   
    height: 100%;
    bottom: 5%;
    left: 0;
}
@media only screen and (min-width: 992px) {
   #video-bkg{
       width: 100%;
       height: auto;
   }
}
#profile-pic{
    height: 35vh;
    border: 10px solid rgba(0, 217, 255, 0.253);
    border-radius: 100%;
    
}
#banner-right-head
{font-size: 5em;
   text-align: start;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    
}
.social-logo
{
   width: 50px;

}
@media only screen and (min-width: 992px) {
    .social-logo {
        width: 64px;
    }
}
/* banner ends */
/* three cards */
#three-card-cont
{
    margin-top: -30px;
    padding:50px 0px;
    width: 100vw;
 
    background: linear-gradient(135deg,
                            #47007798 , 15% ,rgba(0, 44, 139, 0.534),30%,#ffffff,30%,
                                #ffffff,70%,
                                #226d008a,70%,#006d6d91,85%,#87910085 );
}
#three-card-cont .card-img
{   
    
    width: 50%;
    filter: drop-shadow(0 10px 15px  #1d1d1d);
    margin: 15%;
  
    

    

}
/* skills sec */
#skills-cont
{
   
  
    margin-top: -20px;
    margin-bottom: -10px;
    padding: 2vh 4vw;
    background: rgb(15, 30, 73);

  
}
.skills-div
{
 
   
 
height: 155px;
width: 155px;
   

   
     
    border-radius: 3%;
    
 margin: 5px;
  
}
.skills-img{
  
    filter: drop-shadow(0 10px 10px  #1d1d1d);
  
 margin: 15%;
  width: 70%;
    

}
.skills-div:hover
{
    filter: invert(1);
}